<header>
    <div class="logo">KOTOME</div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'categories' %}">Категории</a></li>
            {% if user.is_authenticated %}
                <li style="position: relative;">
                    <a href="{% url 'favorites' %}">Избранное</a>
                    <span class="favorites-count-badge" id="headerFavoritesCount">0</span>
                </li>
                <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="header-search">
        <input type="text" class="search-input" placeholder="Поиск аниме...">
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="login-btn">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}" class="login-btn">Войти</a>
    {% endif %}
</header>